<div class="top-hero-wrapper">
  <div class="container-fluid px-0">
    
    <div class="jumbotron">
      <h1 class="display-3 dropshadow">For Climbers</h1>
      <p class="lead dropshadow">自分の実力をチャート化し、効率的にトレーニングしよう</p>
      <!--<hr class="my-4">-->
      <p class="dropshadow">5つのカテゴリー別に実力をグラフ化し、あなたのクライミング力を分析することができます</p>
      <!--<a class="btn btn-primary btn-lg text-white" href="#" role="button">About</a> <!-- ページ内スクロール予定 -->
    </div>
    
    <div class="row">
      <div class="col-md-12 mx-3">
        <h1 class="text-center mb-3">For Climbersとは</h1>
        <h5 class="text-center mb-3">挑戦した課題について自己評価を行うことで自分の得意・不得意をグラフ化<br>
        苦手を知りトレーニングに生かすことができるクライマーのためのアプリです</h5>
      </div>
      
        
        <div class="col-md-3">
          <h5>Post</h5>
          <p>自分のチャレンジした課題を投稿しよう！</p>
        </div>
        <!--<div class="card col-md-3">-->
        <!--  <div class="card-header">-->
        <!--    投稿-->
        <!--  </div>-->
        <!--  <div class="card-body">-->
        <!--    <h4 class="card-title">自分のチャレンジした課題を投稿しよう！</h4>-->
        <!--    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
        <!--  </div>-->
        <!--</div>-->
        
        <!--<div class="card col-md-3">-->
        <!--  <div class="card-body">-->
        <!--    <h4 class="card-title">投稿</h4>-->
            <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
        <!--    <p class="card-text">-->
        <!--      自分が登った課題を撮影し、投稿投稿する-->
        <!--    </p>-->
            <!--<a href="#!" class="card-link">Card link</a>-->
            <!--<a href="#!" class="card-link">Another link</a>-->
        <!--  </div>-->
        <!--</div>-->

        
        <div class="col-md-3">
          <h5>Self-Evaluation</h5>
          <p>挑戦した課題やクリアした課題について5段階で評価しよう</p>
        </div>
        
        <div class="col-md-3">
          <h5>Chart</h5>
          <p>自分の得意、苦手を知ろう</p>
        </div>
        
        <div class="col-md-3">
          <h5>Traning</h5>
          <p>自分の苦手分野について、集中的にトレーニングし強くなろう</p>
        </div>
          
      </div>
  </div>
</div>
  


<script>
  $(function(){
  // #で始まるa要素をクリックした場合に処理
  $('a[href^=#]').click(function(){
    // 移動先を0px調整する。0を30にすると30px下にずらすことができる。
    var adjust = 0;
    // スクロールの速度（ミリ秒）
    var speed = 400;
    // アンカーの値取得 リンク先（href）を取得して、hrefという変数に代入
    var href= $(this).attr("href");
    // 移動先を取得 リンク先(href）のidがある要素を探して、targetに代入
    var target = $(href == "#" || href == "" ? 'html' : href);
    // 移動先を調整 idの要素の位置をoffset()で取得して、positionに代入
    var position = target.offset().top + adjust;
    // スムーススクロール linear（等速） or swing（変速）
    $('body,html').animate({scrollTop:position}, speed, 'swing');
    return false;
  });
});
</script>


