<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">For Climber</h1>
    <h2 class="text-white">苦手を可視化や強い人の登りを参考にでき、
    効率的にトレーニングできるクライマーのためのSNSです。</h2>
    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        <%= link_to '新規登録', new_user_path, class: 'btn btn-block btn-white' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'ログイン', login_path, class: 'btn btn-block btn-white' %>
      </div>
    </div>
  </div>
</div>