<div class="topic-index-wrapper">
  <div class="container">
    
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <%= @post.user.name %>
            <%= image_tag @post.image.url %>
            
           
            
             
          </div>
          </div>
        </div>
      </div>
 
  </div>
</div>